@import "variables";
@import "config";

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: $light-grayish-blue;
  display: grid;
  grid-template-rows: 1fr auto;
  place-items: center;
  @include mobile {
  }
}
article {
  background: #fff;
  width: 90%;
  max-width: 700px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  border-radius: 10px;
  position: relative;
  .image {
    flex: 0 1 40%;
    background: url("../images/drawers.jpg");
    background-size: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    @include mobile {
      flex-basis: 15em;
      border-bottom-left-radius: 0;
      border-top-right-radius: 10px;
    }
  }
  .content {
    flex: 0 1 60%;
    padding: 0 3em 0 3em;
  }
  @include mobile {
    min-width: 315px;
    max-width: 450px;
    flex-direction: column;
  }
}
.description {
  margin-bottom: 2em;
}
.social-container {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  padding-bottom: 2em;
  p {
    margin: 0;
    line-height: 2em;
  }
}
.avatar {
  margin-right: 1em;
  border-radius: 100%;
  width: 50px;
}
.share-button {
  border-radius: 100%;
  width: 2.5em;
  height: 2.5em;
  border: transparent;
  cursor: pointer;
  outline: none;
  &:hover,
  &:focus {
    background: $desaturated-dark-blue;
    .share-icon {
      path {
        fill: #fff;
      }
    }
  }
  @include mobile {
    position: relative;
    z-index: 2;
  }
}
.callout {
  color: $light-grayish-blue;
  letter-spacing: 0.2em;
  background: $very-dark-grayish-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 100px;
  right: -65px;
  border-radius: 10px;
  padding: 1em 2em;
  &__header {
    color: $grayish-blue;
    @include mobile {
      padding-left: 2em;
    }
  }
  &__content {
    margin: 1em;
  }
  &:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    border-top: 15px solid $very-dark-grayish-blue;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    @include mobile {
      display: none;
    }
  }
  @include mobile {
    justify-content: left;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1.5em 0 2.3em 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
